<section #section class="w-100 p-4">
    <div class="d-flex flex-md-row flex-column">
        <div class="mx-3">
            <mat-form-field class="d-flex flex-column align-items-stretch" appearance="outline">
                <mat-label>Selecione um país</mat-label>
                <mat-select [(value)]="mainSectionService.selectedCountry" (selectionChange)="onSelectCountry()"
                    [disabled]=" (mainSectionService.countries$ | async)!.length <= 0">
                    <mat-option [value]="country.code" *ngFor="let country of (mainSectionService.countries$ | async)">
                        <img [src]="country.flag" height="24" />
                        <span class="mx-2">{{ country.name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="d-flex flex-column align-items-stretch" appearance="outline">
                <mat-label>Selecione uma liga</mat-label>
                <mat-select [(value)]="mainSectionService.selectedLeague" (selectionChange)="onSelectLeague()" 
                    [disabled]="!mainSectionService.selectedCountry && (mainSectionService.leagues$ | async)!.length <= 0">
                    <mat-option [value]="league.id" *ngFor="let league of (mainSectionService.leagues$ | async)">
                        <img [src]="league.logo" height="24" />
                        <span class="mx-2">{{ league.name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="d-flex flex-column align-items-stretch" appearance="outline">
                <mat-label>Selecione uma temporada</mat-label>
                <mat-select [(value)]="mainSectionService.selectedSeason" (selectionChange)="onSelectSeason()"
                    [disabled]="!mainSectionService.selectedLeague &&  (mainSectionService.seasons$ | async)!.length <= 0">
                    <mat-option [value]="season" *ngFor="let season of (mainSectionService.seasons$ | async)">Ano {{ season }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="d-flex flex-column align-items-stretch" appearance="outline">
                <mat-label>Selecione um time</mat-label>
                <mat-select [(value)]="mainSectionService.selectedTeam" (selectionChange)="onSelectTeam()"
                    [disabled]="!mainSectionService.selectedSeason && (mainSectionService.teams$ | async)!.length <= 0">
                    <mat-option [value]="team.id" *ngFor="let team of (mainSectionService.teams$ | async)">
                        <img [src]="team.logo" height="24" />
                        <span class="mx-2">{{ team.name }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="flex-grow-1 mb-3">
            <mat-tab-group dynamicHeight color="primary" animationDuration="0ms">
                <mat-tab label="Jogadores">
                    <div class="p-2" *ngIf="!mainSectionService.selectedTeam">
                        Selecione um time para ver os jogadores
                    </div>
                    <div *ngIf="mainSectionService.selectedTeam">
                        <div class="card p-2 m-2" *ngFor="let player of (mainSectionService.players$ | async)">
                            <div class="d-flex align-items-center">
                                <img [src]="player.photo" height="80" class="rounded-circle border border-2" />
                                <div class="mx-2 d-flex flex-column">
                                    <span><strong class="text-uppercase text-success">{{ player.name }}</strong> - {{ player.position }}</span>
                                    <small class="mt-1 mb-0">{{ player.age }} anos</small>
                                    <small class="mt-0 mb-1">{{ player.nationality }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Formações utilizadas">
                    <div class="p-2" *ngIf="!mainSectionService.selectedTeam">
                        Selecione um time para ver as formações utilizadas
                    </div>
                    <div class="p-2" *ngIf="mainSectionService.selectedTeam && (mainSectionService.selectedTeamInformation$ | async)?.lineups && (mainSectionService.selectedTeamInformation$ | async)?.lineups!.length > 0">
                        <div class="d-flex flex-md-row flex-column-reverse align-items-start">
                            <div class="position-relative">
                                <img src="assets/images/camp.svg" class="w-100" />
                                <div *ngIf="lineupPositions.length > 0" class="d-flex flex-row position-absolute positions-row align-items-center">
                                    <div class="rounded-circle"></div>
                                </div>
                                <div *ngFor="let row of lineupPositions" class="d-flex flex-row position-absolute positions-row align-items-center">
                                    <div class="rounded-circle" *ngFor="let pos of row"></div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="card p-2 m-2" role="button" *ngFor="let lineup of (mainSectionService.selectedTeamInformation$ | async)?.lineups" (click)="getLineupPositions(lineup)">
                                    <span class="text-success">Formação {{ lineup.formation }}</span><br>
                                    <small>Utilizada {{ lineup.played }} vezes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2" *ngIf="!(mainSectionService.selectedTeamInformation$ | async)?.lineups || (mainSectionService.selectedTeamInformation$ | async)?.lineups!.length <= 0">
                        Não foram encontrados dados das formações para o time e temporada selecionados
                    </div>
                </mat-tab>
                <mat-tab label="Resultados">
                    <div class="p-2" *ngIf="!mainSectionService.selectedTeam">
                        Selecione um time para ver os resultados
                    </div>
                    <div class="p-2" *ngIf="mainSectionService.selectedTeam">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Total de jogos</th>
                                    <th scope="col">Vitórias</th>
                                    <th scope="col">Derrotas</th>
                                    <th scope="col">Empates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{ (mainSectionService.selectedTeamInformation$ | async)?.statistics?.games }}</th>
                                    <td class="text-success">{{ (mainSectionService.selectedTeamInformation$ | async)?.statistics?.wins }}</td>
                                    <td class="text-danger">{{ (mainSectionService.selectedTeamInformation$ | async)?.statistics?.losses }}</td>
                                    <td class="text-primary">{{ (mainSectionService.selectedTeamInformation$ | async)?.statistics?.draws }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Gols">
                    <div class="p-2" *ngIf="!mainSectionService.selectedTeam">
                        Selecione um time para ver os gols
                    </div>
                    <div class="container p-2 d-flex justify-content-center mb-5" *ngIf="mainSectionService.selectedTeam">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-success text-center">Porcentagem de gols por minuto</h3>
    
                                <canvas baseChart
                                    type="pie"
                                    [datasets]="pieChartDatasets"
                                    [labels]="pieChartLabels"
                                    [options]="pieChartOptions"
                                    [legend]="pieChartLegend">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>